.contenedor-del-componente {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #242424;
}
.rectangulo-importante{
  width: 77.5%;
  /* background-color: chartreuse; */
}

/* Caja de los nombres de los meses */
.caja-nombres-meses {
  display: flex;
  justify-content: space-between;
  width: 97%;
  /* background-color: #ff0000; */
  margin-left: auto; /* Empuja el contenedor hacia la derecha */
}

/* Los nombres de los meses */
.month-label {
  width: calc(97% / 12);
  text-align: center;
  font-weight: bold;
}

/* Contenedor de nombres de semanas y cubitos */
.grid-container {
  display: flex;
  flex-direction: row;
  width: 80%;
}

/* COntenedor de los nombres de los dias  */
.week-labels {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 1%;
}

/* Nombres de los dias */
.day-label {
  font-size: 70%;
  font-weight: bold;
}

.weeks-grid {
  display: flex;
  flex-grow: 100;
}

.week-column {
  display: flex;
  flex-direction: column;
}

/* Cubitos */
.day-box {
  width: 2.5vh;
  height: 2.5vh;
  margin: 0.4vh;
  background-color: #3a3a3a;
  border-radius: 3px;
  position: relative;
  transition: background-color 0.3s;
  cursor: pointer;
}

.day-box:hover {
  transform: scale(1.1);
}

.day-box.active {
  background-color: #6e66ff;
  box-shadow: 0 0 3px #7972ff;
}

.day-box:hover {
  background-color: #5a53cf;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  margin-left: 8px;
  margin-right: 8px;
  font-size: 1em;
  font-weight: 500;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  margin-top: 20px;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

h1 {
  color: #ffffff;
  text-align: center;
  font-family: 'Arial', sans-serif;
}

.modal {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #222;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px #6e66ff;
}

.modal-content h2 {
  color: #ffffff;
}

select {
  background-color: #1a1a1a;
  color: #ffffff;
  border: 1px solid #6f67ff;
  padding: 10px;
  border-radius: 8px;
  width: 100%;
  margin-bottom: 15px;
  outline: none;
  transition: all 0.3s ease;
}

select:hover,
select:focus {
  border-color: #6f67ff;
}

.seccion-de-botones-modal {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.select-read-only {
  background-color: #1a1a1a;
  color: #ffffff;
  border: 1px solid #6f67ff;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  cursor: default;
}

/* MEDIA QUERY PARA MÓVILES (Pantallas más pequeñas) */
@media (max-width: 768px) {
  .tracker-container {
    width: 100vw;
    height: 100vh;
    padding: 10px;
  }

  .grid-header {
    width: 90%;
    font-size: 12px;
  }

  .month-label {
    font-size: 10px;
  }

  .grid-container {
    width: 10%;
  }

  .week-labels {
    font-size: 10px;
  }

  h1 {
    font-size: 18px;
  }

  button {
    font-size: 14px;
    padding: 0.5em 1em;
    color:aliceblue;
  }

  .modal {
    width: 90%;
    padding: 15px;
  }

  select {
    font-size: 14px;
    padding: 8px;
  }

  .seccion-de-botones-modal button {
    font-size: 14px;
    padding: 0.5em 1em;
  }
}
