.contenedor-del-componente {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #242424;
}
.rectangulo-importante{
  width: 76%;
  height: 13vw;
  /* background-color: chartreuse; */
}

/* Caja de los nombres de los meses */
.caja-nombres-meses {
  display: flex;
  justify-content: space-between;
  width: 96%;
  height: auto;
  margin-left: auto; /* Empuja el contenedor hacia la derecha */
  /* background-color: #ff0000; */
}

/* Los nombres de los meses */
.texto-meses {
  width: calc(97% / 12);
  text-align: center;
  font-weight: bold;
  font-size: 1.3vw;
}

/* Contenedor de nombres de semanas y cubitos */
.texto-semanas-y-cubitos {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 10vw;
  /* background-color: aliceblue; */
}

/* COntenedor de los nombres de los dias  */
.contenedor-del-texto-dias {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 1%;
  height: 100%;
  /* background-color: #5a53cf; */
}

/* Nombres de los dias */
.texto-dias {
  /* font-size: 70%; */
  font-size: 0.8vw;
  font-weight: bold;
}

.weeks-grid {
  display: flex;
  /* flex-grow: 100; */
  /* background-color: brown; */
  max-width: 100%;
}

.week-column {
  display: flex;
  flex-direction: column;
}

/* Cubitos */
.day-box {
  /* width: 2.5v;
  height: 2.5vh; */
  width: 1vw;
  height: 1vw;
  margin: 0.2vw;
  background-color: #3a3a3a;
  border-radius: 3px;
  position: relative;
  transition: background-color 0.3s;
  cursor: pointer;
}

.day-box:hover {
  transform: scale(1.1);
}

.day-box.active {
  background-color: #6e66ff;
  box-shadow: 0 0 3px #7972ff;
}

.day-box:hover {
  background-color: #5a53cf;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  margin-left: 8px;
  margin-right: 8px;
  font-size: 1em;
  font-weight: 500;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  margin-top: 20px;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

h1 {
  color: #ffffff;
  text-align: center;
  font-family: 'Arial', sans-serif;
  font-size: 2.5vw;
}

.modal {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #222;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px #6e66ff;
}

.modal-content h2 {
  color: #ffffff;
}

select {
  background-color: #1a1a1a;
  color: #ffffff;
  border: 1px solid #6f67ff;
  padding: 10px;
  border-radius: 8px;
  width: 100%;
  margin-bottom: 15px;
  outline: none;
  transition: all 0.3s ease;
}

select:hover,
select:focus {
  border-color: #6f67ff;
}

.seccion-de-botones-modal {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.select-read-only {
  background-color: #1a1a1a;
  color: #ffffff;
  border: 1px solid #6f67ff;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  cursor: default;
}

/* MEDIA QUERY PARA MÓVILES (Pantallas más pequeñas) */
@media (max-width: 768px) {
  button {
    color:aliceblue;
  }
}
