/* CSS General */
.tracker-container {
  display: flex;
  /* Lo de abajo es para ordenar los elementos del contenedor de forma vertical */
  flex-direction: column; 
  /* Alinearlos al centro */
  align-items: center;
  /* Los siguientes cuatro son para ponerlo bien al centro dentro del contendor de todo */
  position: relative; /* Añadido */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  /* Color de fondo */
  background-color: #242424;
}

/* Caja de los nombres de los meses */
.grid-header {
  display: flex;
  justify-content: space-between;
  /* Creo que esto sera muy util para alinearlos */
  width: 75%;
  /* margin-left: 1%; */
  /* Color de fondo */

  /* background-color: #4caf50; */
}

/* Los nombres de los meses */
.month-label {
  width: calc(100% / 12);
  text-align: center;
  font-weight: bold;
  /* padding: 10px; */
}

/* Contenedor de nombres de semanas y cubitos */
.grid-container {
  display: flex;
  flex-direction: row;
  width: 80%;
  /* background-color: #646cff; */
  left: 0;
}

/* COntenedor de los nombres de los dias  */
.week-labels {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* Esto es para darle un poco de espacio entre los nomrbes de las semanas y los cubitos */
  padding-right: 1%;
  /* background-color: beige; */
}

/* Nombres de los dias */
.day-label {
  font-size: 70%;
  font-weight: bold;
}

.weeks-grid {
  display: flex;
  flex-grow: 100;
  /* background-color: blue; */
}

.week-column {
  /* width: 80%; */
  display: flex;
  flex-direction: column;
  /* background-color: #4caf50; */
}

/* CUbitos */
.day-box {
  width: 2.5vh;
  height: 2.5vh;
  margin: 0.4vh;
  background-color: #e0e0e0;
  border-radius: 3px;
  position: relative;
  transition: background-color 0.3s;
  cursor: pointer;
}

.day-box.active {
  background-color: #4caf50;
}

.day-box:hover {
  background-color: #90caf9;
}

/* Arreglar esto */
.reset-btn {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

/* Arreglar esto */
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  margin-top: 20px;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* CSS para rotar la pantalla en dispositivos móviles */
@media only screen and (max-width: 768px) {
  .day-label {
    font-size: 40%;
  }
  .month-label {
    font-size: 50%;
  }
}

